.container {
    padding:2px;
    font-family: 'SF Pro Display';
    color:white;
  }
  .back {
    background: linear-gradient(to right, #ff5f6d, #ffc371);
  }
  
  .choicecontainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 2%;
    color: white;
  }